{# Comment markup #}
{% extends "base.html" %}

{% block content %}
<h3>{{action}} Recipe</h3>

<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{recipe.title}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" name="author" id="author" value="{{recipe.author}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="snippet">Snippet</label>
    <textarea name="snippet" id="snippet" class="form-control">{{recipe.snippet}}</textarea>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
{# end of form #}
