{% extends "base.html" %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>

<h3>{% if recipe.section %}
{{recipe.section}}
{% endif %}</h3>

<div class="media">
  {# [START recipe_image] #}
  <div class="media-left">
    {% if recipe.imageUrl %}
      <img class="recipe-image" src="{{recipe.imageUrl}}">
    {% else %}
      <img class="recipe-image" src="http://placekitten.com/g/128/192" height=100>
    {% endif %}
  </div>
  {# [END recipe_image] #}
  <div class="media-body">
    <h4 class="recipe-title">
      {{recipe.title}}
      <!-- <small>{{recipe.added_time}}</small> -->
    </h4>
    <h5 class="recipe-author"><i>By {{recipe.author|default('Unknown', True)}}</i></h5>
    {% if recipe.description %}
    <p>{{ recipe.description}}</p>
    {% endif %}
    <pre><code class="lang-python" id="code-copy">{{recipe.snippet}}</code>
      <button type="button" id="copy-button" data-clipboard-target="#code-copy" class="btn btn-default btn-copy" style="float: right;"" title="Copy to clipboard">
    <!-- icon from google's material design library -->
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
  </button>
</pre>
  </div>
</div>

<script type="text/javascript">
(function(){
  var clipboard = new Clipboard('#copy-button');
  clipboard.on('success', function(e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);

    e.clearSelection();
});

clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
});
})();
</script>

{% endblock %}



