.tag {
	margin-right: 5px;
	float: right;
}

.btn-copy {
	position: absolute;
    right: 30px;
    top: 35px;
    padding: 5px;
    background-color: #fff;
    width: 30px;
    height: 30px;
}

pre {
    white-space: "pre-wrap"; 
}