.tag {
	margin-right: 5px;
}

.btn-copy {
	position: absolute;
    right: 15px;
    top: 15px;
    padding: 5px;
    background-color: #fff;
    width: 30px;
    height: 30px;
}

pre {
    white-space: "pre-wrap"; 
    font-size: 0.8em;
}

.relative {
    position: relative;
}